<div class="card p-4 shadow">
  <h3>Search Hotels</h3>
  <div class="row g-3 mb-3">
    <div class="col">
      <input type="date" class="form-control" [(ngModel)]="fromDate" placeholder="From Date">
    </div>
    <div class="col">
      <input type="date" class="form-control" [(ngModel)]="toDate" placeholder="To Date">
    </div>
    <div class="col">
      <button class="btn btn-primary w-100" (click)="searchHotels()">Search</button>
    </div>
  </div>

  <div *ngFor="let hotel of searchResults" class="card mb-3 p-3 shadow">
    <h5>{{ hotel.hotelName }}</h5>
    <p>{{ hotel.address }}</p>
    <img [src]="hotel.imageUrl" height="120" class="rounded mb-2">
    <div *ngFor="let room of hotel.rooms" class="border-top pt-2 mt-2">
       <p>
        {{ room.title }} | Price per day: {{ room.rentPerDay | currency:'INR':'symbol':'1.0-0' }} | Number of days: {{ room.numberOfDays }} |
        Total: {{ room.totalCost | currency:'INR':'symbol':'1.0-0' }}
      </p>
    </div>
  </div>
</div>
