<nav class="navbar navbar-expand-lg" style="background-color:#003580; padding: 15px;">
  <div class="container-fluid">


    <a class="navbar-brand text-white fw-bold fs-3" href="#">
      HotelBooking
    </a>


    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">


        <li class="nav-item">
          <a class="nav-link text-white fw-semibold px-3" routerLink="/search-room">Search</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white fw-semibold px-3" routerLink="/add-edit-hotel">Add Hotel</a>
        </li>


        <li class="nav-item">
          <a class="nav-link text-white fw-semibold px-3" routerLink="/rooms">Add Room</a>
        </li>


      </ul>
    </div>

  </div>
</nav>